[*.cs]
dotnet_diagnostic.RCS1194.severity = none
dotnet_diagnostic.RCS1139.severity = none
dotnet_diagnostic.RCS1015.severity = error
dotnet_diagnostic.RCS1044.severity = error
dotnet_diagnostic.RCS1077.severity = error
dotnet_diagnostic.RCS1097.severity = error
dotnet_diagnostic.RCS1113.severity = error
dotnet_diagnostic.RCS1151.severity = error
dotnet_diagnostic.RCS1190.severity = error
dotnet_diagnostic.RCS1080.severity = error
dotnet_diagnostic.RCS1105.severity = error
dotnet_diagnostic.RCS1112.severity = error
dotnet_diagnostic.RCS1246.severity = error
dotnet_diagnostic.CA1854.severity = error
dotnet_diagnostic.RCS1156.severity = error
dotnet_diagnostic.RCS1170.severity = error
dotnet_diagnostic.CA1834.severity = error
dotnet_diagnostic.RCS1037.severity = none
dotnet_diagnostic.CA1860.severity = error
dotnet_diagnostic.RCS1174.severity = error
dotnet_diagnostic.CA1822.severity = error
dotnet_diagnostic.RCS1235.severity = error
dotnet_diagnostic.CA1853.severity = error
dotnet_diagnostic.RCS1239.severity = error
dotnet_diagnostic.RCS1214.severity = error
dotnet_diagnostic.RCS1233.severity = error
dotnet_diagnostic.RCS1240.severity = error
dotnet_diagnostic.RCS1192.severity = error
csharp_style_namespace_declarations = file_scoped:error
resharper_arrange_object_creation_when_type_not_evident_highlighting = none
resharper_redundant_cast_highlighting=error
resharper_redundant_empty_object_creation_argument_list_highlighting = error
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator = none
resharper_empty_statement_highlighting = error